.chapter
  %h2= "#{@chapter.ordinal + 1}. #{@chapter.name}"
  - @laws.each do |subchapter, laws|
    %h4= subchapter
    %ul
      - laws.each do |law|
        %li
          %a{href: show_law_path(law.id)}= law.name
