!!! 5
%html
  %head
    %title Lex
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='description' content='')
    %meta(name='author' content='')
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: home_path} Lex
          %button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                .navbar-btn
                  %a#log-out.btn.btn-default(data-href="#{destroy_user_session_path}") Útskrá
            - else
              %li
                .navbar-btn
                  %a.btn.btn-default{href: new_user_session_path} Innskráning
    .container.content
      = yield
    %script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
    = javascript_include_tag 'application'
