%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.text_field :username, autofocus: true, placeholder: 'Username', required: true
  = f.email_field :email, placeholder: 'Email address', required: true
  = f.password_field :password, placeholder: 'Password', required: true, pattern: '.{8,}', title: '8 characters minimum'
  = f.submit 'Sign up'
